.hero {
    position: relative;
    width: 100%;
    height: 83rem;
    padding: 22rem 4.8rem 0;
    margin-bottom: 12.5rem;

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        //background-color:burlywood;
        z-index: -1;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center bottom;
            border-radius: 0px 0px 150px 150px;
        }
    }

    &__headline {
        margin-bottom: 6.5rem;

        &--turquoise {
            color: black;
        }
    }

    &__logo {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
    }
}