.materialRequirement {
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;

    .materialList {
        margin-top: 10px;
        line-height: 1.6;
    }

}